# Copy to .envrc and customize for your local environment
# .envrc is gitignored — do not commit secrets\

# create the venv if it doesn't yet exist
[[ -d ".venv" ]] || ( uv venv && uv sync --all-extras )

export VIRTUAL_ENV=".venv"
layout python
